body {
    background-color: #C1E8D0;
}

h1 {
  color: #003813;
  font-size: 50px;
}

a {
  color: #003813;
  font-size: 40px;
}

a:hover {
  color: #502C85;
  font-size: 40px;
}


.main_box {
  border: thick double #003813;
  width: 90%;
  height: 90%;
  margin: 5%;
  display: inline-flex;
  justify-content: center;
}

.quiz_box {
  position: relative;
  width: 90%;
  border: thick double #003813;
  margin: 5%;
  text-align: center;
}

.image_wrapper {
  align-self: center;
  margin-right: 5%;
}
